!!!5
%html{ lang: "en"}
  %head
    -# Metatags
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}

    -# Title Page
    %title= current_page.data.title || "Wylkon Cardoso"

    -# Stylesheets
    %link{href:'http://fonts.googleapis.com/css?family=Open+Sans:400,700,300', rel:'stylesheet', type:'text/css'}
    = stylesheet_link_tag "normalize", "application"


  %body{class: page_classes, id: "container"}
    = yield

    -# Javascripts
    %script{src: "http://tympanus.net/Development/ArticleIntroEffects/js/classie.js"}
    = javascript_include_tag  "application"
